/* Transporter Management Page */

.transporter-list {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    overflow-x: auto; /* Ensure table is scrollable on small screens */
    margin-top: 50px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Style for the export PDF button */
.export-pdf-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.export-pdf-btn:hover {
    background-color: #45a049;
}
/* Title */
.transporter-list h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
/* Sorting Container */
.sort-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-container label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.sort-container select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    transition: border-color 0.3s ease;
}

.sort-container select:hover {
    border-color: #007bff;
}

.sort-container select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Transporter photo */
.transporter-photoList {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Action Buttons */
.view-btn, .delete-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
}

.view-btn:hover {
    color: blue;
}



.delete-btn:hover {
    color: red;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.pagination li {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.paginationActive {
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
}

.previousBttn, .nextBttn {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.paginationDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}
